$bg-color: #fff;
$body-font-color: #000;
$body-font-size: 14px;
$body-font-height: 20px;

$time-slideshow: 12s;

/* menu */
$menu-font-size: 18px;
$menu-font-height: 32px;
$menu-font-color: #fff;
$menu-bg-color: #283645;

$font-color-hover: #d22856;

$mobile-widths-only: "(max-width: 699px)";
$tablet-widths: "(min-width: 700px)";
$desktop-widths: "(min-width: 1200px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
