.btn-submit {
  display: block;
  padding: 16px 0 17px 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer;

  &:hover {
    //color: royalblue;

    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(#fff,0.3);

    background-color: #1c9b5e;
  }
}
