.btn {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;

  border: 3px solid #fff;
  border-radius: 28px;

  &:hover {
    color: #d22856;

    background-color: #fff;
  }

   &:active {
    color: rgba(#d22856, 0.3);

    background-color: #fff;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .btn {
    font-size: 21px;
  }
}
