.main-nav {
  //position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  width: 35px;
  height: 24px;
  margin-top: 22px;
  margin-right: 6.25%;
  padding: 0;

  font-size: 0;

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-nav__toggle span {
  display: block;

  width: 100%;
  height: 3px;
  margin: 0 auto;

  background-color: #fff;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: #fff;
  }

  &::before {
    animation: rotate_ccw_reverse $toggle-animation-duration linear forwards;
  }

  &::after {
    animation: rotate_cw_reverse $toggle-animation-duration linear forwards;
  }
}

.main-nav__toggle:hover span {
  background-color: #d22856;

  &::before,
  &::after {
    background-color: #d22856;
  }

  &::before,
  &::after {
    background-color: #d22856;
  }
}

.main-nav__toggle:active span {
  background-color: #d22856;
  opacity: 0.3;
}

.main-nav--show .main-nav__toggle span {
  background-color: transparent;

  &::before {
    animation: rotate_ccw $toggle-animation-duration linear forwards;
  }

  &::after {
    animation: rotate_cw $toggle-animation-duration linear forwards;
  }
}

@keyframes color {
  0% { background-color: #fff; }
  70% { background-color: transparent; }
}

@keyframes color_reverse {
  0% { background-color: transparent; }
  70% { background-color: #fff; }
}

@keyframes rotate_ccw {
  0% {transform: translateY(-11px) rotate(0); }
  30%, 70% { transform: translateY(0) rotate(0); }
  100% { transform: translateY(0) rotate(45deg); }
}

@keyframes rotate_ccw_reverse {
  0% {transform: translateY(0) rotate(45deg); }
  30%, 70% { transform: translateY(0) rotate(0); }
  100% { transform: translateY(-11px) rotate(0); }
}

@keyframes rotate_cw {
  0% {transform: translateY(10px) rotate(0);}
  30%, 70% { transform: translateY(0) rotate(0); }
  100% { transform: translateY(0) rotate(-45deg); }
}

@keyframes rotate_cw_reverse {
  0% {transform: translateY(0) rotate(-45deg);}
  30%, 70% { transform: translateY(0) rotate(0); }
  100% { transform: translateY(10px) rotate(0); }
}

.maim-nav__list {
  //display: none;
  position: absolute;
  bottom: 0;
  z-index: -1;
  visibility: hidden;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;
  text-align: center;

  background-color: $menu-bg-color;

  transform: translateY(-180px);
  transition: transform $menu-dropdown-duration linear 0s;
}

.maim-nav__item {
  a {
    display: block;
    padding: 15px 0;

    font-size: $menu-font-size;
    line-height: $menu-font-height;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: $menu-font-color;

    border-top: 1px solid #485461;
    border-bottom: 1px solid #000;
  }

  &:hover a {
    color: $font-color-hover;
  }

  &:active a {
    color: rgba($font-color-hover, 0.3);
  }


}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .main-nav__toggle {
    margin-top: 45px;
    margin-right: 5.71%;
  }
}

/* ---------------mobile & tablet ------------------ */
@media #{$tablet-widths-only} {
  .main-nav--show .maim-nav__list {
    //display: block;
    position: static;
    z-index: 1;
    visibility: visible;

    transform: translateY(0);
  }

  .main-nav--nojs .maim-nav__list {
    //display: block;
    position: static;
    z-index: 1;
    visibility: visible;

    transform: none;
    transition: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .main-nav {
    float: right;
    min-width: 67.2%;
    max-width: 82%;
  }

  .main-nav__toggle {
    display: none;
  }

  .maim-nav__list {
    position: static;
    z-index: 1;
    visibility: visible;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 110px;

    background-color: transparent;

    transform: none;
    transition: none;
  }

  .maim-nav__item {
    margin-left: 10px;

    a {
      padding: 9px 0 11px 0;

      line-height: 18px;
      font-weight: normal;
      text-transform: none;

      border: none;
    }

    &:active a {
      color: rgba($menu-font-color, 0.3);
    }

    &--active a {
      box-shadow: 0 2px 0 0 $menu-font-color;
    }

    &--active:hover a {
      box-shadow: 0 2px 0 0 $font-color-hover;
    }

    &--active:active a {
      color: $font-color-hover;
    }
  }
}
