.page-footer {
  display: none;
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .page-footer {
    display: block;
  }

  .page-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 127px;
    margin: 0 5.71%;
  }

  .page-footer__logo {
    margin-bottom: 15px;

    img {
      vertical-align: bottom;
    }
  }

  .page-footer__social {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    margin-right: 18px;
    margin-top: 1px;
  }

  .page-footer__copyright {
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    color: #283645;

    img {
      padding-top: 6px;
      padding-left: 15px;
      vertical-align: bottom;
    }
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .page-footer__content {
    max-width: 1440px;
    height: 197px;
    margin: 0 auto;
    padding: 0 10%;
  }

  .page-footer__logo {
    margin-left: 10px;
  }

  .page-footer__social {
    margin-right: 0;
    margin-left: 6px;
  }

  .page-footer__copyright {
    margin-right: 10px;

    font-size: 18px;

    img {
      padding-left: 14px;
    }
  }
}
