.page-header {
  position: relative;
  margin-bottom: -66px;

  color: $menu-font-color;

  background-color: $menu-bg-color;
}

.page-header__logo {
  position: relative;
  z-index: 5;

  display: block;
  padding: 22px 6.25% 25px 6.25%;

  border-bottom: 1px solid #000;
  background-color: $menu-bg-color;
}

.page-header__logo-mobile {
  width: 75px;
  height: 22px;
  vertical-align: bottom;

  fill: #fff;

  path {
    fill: inherit;
  }

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #fff;
    opacity: 0.3;
  }
}

.page-header__logo-tablet {
  display: none;
  width: 147px;
  height: 40px;
  vertical-align: bottom;
  fill: #fff;

  path {
    fill: inherit;
  }

  &:hover {
    fill: #d22856;
  }

  &:active {
    fill: #fff;
    opacity: 0.3;
  }
}

.page-header__logo-desktop {
  display: none;
  width: 147px;
  height: 40px;
  vertical-align: bottom;

  path {
    fill: inherit;
  }
}

.page-header__logo-main {
  fill: #fff;
}

.page-header__logo-star {
  fill: #d22856;
}

.page-header__logo-desktop:hover .page-header__logo-main {
  fill: #d22856;
}

.page-header__logo-desktop:hover .page-header__logo-star {
  fill: #fff;
}

.page-header__logo-desktop:active .page-header__logo-main {
  fill: #fff;
  opacity: 0.3;
}

.page-header__logo-desktop:active .page-header__logo-star {
  fill: #fff;
  opacity: 0.3;
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .page-header {
    margin-bottom: -111px;
  }

  .page-header__logo {
    padding: 27px 5.71% 42px 5.71%;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .page-header {
    position: fixed;
    top: 0;
    z-index: 90;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__content {
    max-width: 1129px;
    margin: 0 auto;
    padding: 0 10.8% 0 10.8%;

    @include clearfix();
  }

  .page-header__logo {
    float: left;
    max-width: 16%;
    padding: 27px 0 43px 0;

    border: none;
    background-color: transparent;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }
}
