.research {
  display: none;
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .research {
    display: block;

    background-color: #fff;
    color: #000;
  }

  .research__content {
    margin: 0 5.71%;
  }

  .research__info {
    position: relative;

    min-height: 281px;
    margin-top: 59px;
    margin-bottom: 51px;
    padding-left: 50%;

    background-image: url(../img/icon-editor-diagram-fill.svg), url(../img/icon-timer.svg);
    background-repeat: no-repeat;
    background-size: auto 202px, auto 277px;
    background-position: 19px 55px, 0 0;

    &::before {
      content: "24";
      position: absolute;
      top: 76px;
      left: 64px;

      font-size: 96px;
      line-height: 150px;
      font-weight: bold;
      color: #d22856;
    }
  }

  .resaerch__title {
    width: 200px;
    padding-top: 37px;
    padding-bottom: 10px;
    margin: 0;

    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000;
  }

  .resaerch__text {
    margin: 0;
    margin-bottom: 10px;
    padding-right: 12px;

    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .resaerch__link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;

    &:hover {
      color: #283645;
    }

    &:active {
      color: #283645;
      opacity: 0.3;
    }
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .research {
    background-color: #f2f2f2;
  }

  .research__content {
    max-width: 1152px;
    margin: 0 auto;
    padding: 0 10%
  }

  .research__info {
    min-height: 380px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 376px;
    padding-bottom: 32px;

    background-size: auto 253px, auto 345px;
    background-position: 33px 69px, 11px 0;

    &::before {
      top: 96px;
      left: 90px;

      font-size: 120px;
      line-height: 186px;
    }
  }

  .resaerch__title {
    width: auto;
    padding-top: 91px;
    padding-bottom: 21px;
  }

  .resaerch__text {
    margin-bottom: 30px;
    padding-right: 30px;

    font-size: 18px;
    line-height: 30px;
  }

  .resaerch__link {
    font-size: 18px;
    line-height: 30px;
  }
}
