.slider__input {
  display: none;
}

.slider__toggles {
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.slider__toggle {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  margin-right: 19px;

  border-radius: 50%;

  background: #bec2c7;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background: #7e868f;
  }

  &:active {
    background: #e9ebec;
  }
}

/* --------------- desktop ------------------ */
@media #{$desktop-widths} {
  .slider__item--slide-right {
    transform: translateX(0);
    animation-name: slide-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-direction: reverse;
  }

  .slider__item--slide-left {
    transform: translateX(0);
    animation-name: slide-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-direction: reverse;
  }

  @keyframes slide-right {
    to {transform: translateX(90%);}
  }

  @keyframes slide-left {
    to {transform: translateX(-90%);}
  }
}
