.table {
  display: table;
}

.table__column {
  display: table-column;
}

.table__header {
  display: table-header-group;
}

.table__row {
  display: table-row;

}

.table__cell {
  display: table-cell;
}
